<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        {% for item in collections.main %}
            <li {% if item.url == page.url %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="{{item.url | url}}">{{item.data.title}}</a>
            </li>
        {% endfor%}
    <!--  <li {% if page.url.includes('blog') %} class="nav-item dropdown" {% else %} class="nav-item" {% endif %}> -->


      <li {% if "/blog/" in page.url %} class="nav-item dropdown active" {% else %} class="nav-item dropdown" {% endif %}>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blog
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for post in collections.posts %}
                <a class="dropdown-item" href="{{ post.url | url }}">{{ post.data.title }}</a>
            {% endfor %}          
        </div>
      </li>      
    </ul>
  </div>
</nav>

